@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Estou estudando programação, tudo que eu fizer aqui é para estudos.</p>

<p> Anúncios</p>

<!-- LOMADEE - BEGIN -->
<script src="//ad.lomadee.com/banners/script.js?sourceId=36002259&dimension=27&height=90&width=970&method=0" type="text/javascript" language="javascript"></script>
<!-- LOMADEE - END -->
<p>
