@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p><strong>
    Ta irritado tio?

    Porque esse nick, porque esse é o nome do canal?

    A resposta é, por causa de joguinhos online. Isso mesmo, joguinhos online.

    Sempre que a gente joga um jogo online onde tem outros jogadores, corremos o risco de sermos xingados, seja por uma má jogada ou apenas por estar jogando. Então eu estava jogando e uma pessoa veio me ofender com xingamentos e ofensas. Decidi então dizer pra ele: Ta irritado tio?

    A pessoa ficou mais brava e xingou mais ainda, eu tornei a perguntar: Ta irritado tio?

    Continuei fazendo isso até a pessoa desistir e sempre que alguém vem com ofensas eu falo isso e o resultado é, ou  a pessoa diz que não e fica, quita ou ela fica mais brava, só que eu continuo meu jogo de boa.

    Então por isso o nick: Ta irritado tio.
    </strong>
</p>

<p> Anúncios</p>

<!-- LOMADEE - BEGIN -->
<script src="//ad.lomadee.com/banners/script.js?sourceId=36002259&dimension=27&height=90&width=970&method=0" type="text/javascript" language="javascript"></script>
<!-- LOMADEE - END -->
<p>